* {
    /* background-color: white; */
    font-family: Roboto, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

.section.one {
    background-color: #1F2937;
    padding: 18px 190px;
    /* display: flex; */
    /* flex-flow: column nowrap; */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 22px;
    font-weight: 900;
}

ul.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 18px;
}

.header-links a {
    text-decoration: none;
    color: #ddd;
    font-size: 15px;
    font-weight: 500;
}

.one.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 86px 0;
    gap: 28px;
}

.one.left {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    flex-basis: 400px;
}

img {
    width: 513px;
    height: 231px;
    object-fit: cover;
    object-position: 100% 30%;
    border: 0px solid darkslategray; 
}

.one h1 {
    color: white;
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0 -8px 0;
    padding: 0;
}

.one p {
    color: white;
    /* margin: 0; */
    /* padding: 0; */
}

.one button {
    background-color: #3882F6;
    color: white;
    font-weight: 700;
    width: 120px;
    padding: 8px 24px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Section 2 */

div.section.two {
    display: flex;
    flex-flow: column nowrap;
    /* justify-content: center; */
    align-items: center;
}

div.two.hero {
    color: #1F2937;
    font-size: 32px;
    font-weight: 900;
    margin: 50px 0 42px 0;
}

div.two.content {
    display: flex;
    gap: 36px;
    margin-bottom: 86px;
}

div.card {
    width: 136px;
    text-align: center;
    font-size: 14px;
    color: #1F2937;
    /* display: flex; */
    /* flex: 1 1 auto; --> flex-basis: auto; tells flex item to respect explicit stated width */
}

div.frame {
    width: 130px;
    height: 130px;
    /* flex: 0 0 auto; */
    border: 3px solid #3882F6;
    border-radius: 16px;
}

/* Section 3 */

.section.three {
    background-color: #E5E7EB;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    padding: 100px 330px;
}

div.quote {
    color: #1F2937;
    font-size: 30px;
    font-style: italic;
    line-height: 130%;
    max-width: 700px;
    flex: initial;
}

div.author {
    color: #1F2937;
    font-size: 20px;
    font-weight: 900;
    /* width: 700px; */
    margin: 0 32px 0 auto;
    /* flex: initial; */
}

/* Section 4 */

.section.four {
    background-color: white;
    padding: 8% 16%;
}

.four.content {
    background-color: #3882F6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 110px;
    border-radius: 8px;
}

.four .title {
    color: white;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 2px;
}

.four .content {
    color: white;
    font-size: 16px;
}

.four button {
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: 900;
    border: 2px solid white;
    border-radius: 8px;
    padding: 8px 32px;
}

.footer {
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}